* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.application {
    background-image: url('./assets/coldbg.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
}